$base-color: #c6538c;$border-dark: rgba($base-color, 0.88);
$header-background:linear-gradient(0deg, #ffbd3e -12.97%, #ed3cca 58.5%, #7c1af8 150.44%);
$footer-backgroun:#6311b5;
$chat:#a73afd;
$text-color:#242424;
$violet-color:#A73AFD;
$text-color-white:#FFFFFF;
$block-span:#9D9DA5;
$link-color:#FFFFFF99;
